body{
    background-color:#F9EFE1;
}


/*
    Slide principale
*/
.homepage .timeline{
    height:10%;
    text-align:center;
    padding-top:0.5%;
}

.homepage .conveyorbelt{
    height:45%;
    padding:0px;
}
.homepage .conveyorbelt div{
    margin:0px;
    height:100%;
}

.homepage .visualisations{
    height:42.5%;
    background-color:#D8C5B2;
    margin-bottom:2.5%;
    width:100%;
}

.homepage .visualisations div{
    width:33%;
    height:100%;
    border-left: 2px dashed #F9EFE1;
    display:inline-block;
}
.homepage .visualisations div:first-child{
    border-left: none;
}
.timeline .backline{
	width:50%;
	position:relative;
	height:2px;
	/*border:1px solid black;*/
	background-color:#000100;
    margin:auto;
	top:28px;
}
.timeline img{
    position:relative;
    top:10px;
    height:35px;
    margin-left:2%;
    margin-right:2%;
    cursor:pointer;
    -webkit-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
}
.timeline img:hover{
   transform: scale(1.25);
}